header {
    min-height: 100vh;
}

#top-content {
    background: no-repeat;
    background-image:
    //  linear-gradient(to right, transparentize(#8E2DE2, 0.2), transparentize(#4A00E0, 0.2)),
        url(https://images.wallpaperscraft.com/image/android_os_gray_robot_33642_2048x1152.jpg);

    background-size: cover;
    color: #FFFFFF;

    h1 {
        font-size: 3.2em;
        font-weight: 800;
        margin-top: 80px;
    }

    h2 {
        font-size: 1em;
        letter-spacing: 2px;
        font-weight: 700;
        text-transform: uppercase;
    }
}